@{
    ViewData["Title"] = "Welcome to Our Hotel";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariotte</title>
    <link rel="stylesheet" href="/wwwroot/css/Visualisation.css" />
</head>
<body>
    <section class="path">
        <a asp-controller="Home" asp-action="Index">home</a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg><a href="#">   Suite</a>
    </section>

    <section>

        <div class="left">
            <div class="img-container2">
                <div class="btnContainer"><button></button><button></button><button></button></div>
            </div>
        </div>
        <div class="right">
            <h2>Suite</h2>
            <p>
                A Suite is the epitome of luxury in hotel accommodations, offering a significantly larger space and a range of upscale features. Unlike standard rooms, a suite typically includes multiple rooms or distinct areas, such as a separate bedroom, a spacious living area, and sometimes a dining area or kitchenette. Suites are elegantly designed with high-end furnishings, including plush sofas, dining tables, and premium beds, often king-sized. The decor reflects a sophisticated and luxurious ambiance, with rich fabrics, artwork, and carefully curated lighting.

                Suites often come with exclusive amenities such as larger bathrooms with soaking tubs, rain showers, or even private jacuzzis. Guests can enjoy personalized services like butler assistance, concierge support, or access to private lounges and facilities. Suites are ideal for families, honeymooners, business executives, or anyone seeking a premium, home-away-from-home experience. They also frequently include perks like balconies with stunning views, high-quality sound systems, and luxury toiletries.


            </p>
        </div>
        <script src="/JavaScript/home.js"></script>
</body>
</html>