@{
    ViewData["Title"] = "Welcome to Our Hotel";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariotte</title>
    <link rel="stylesheet" href="/wwwroot/css/Visualisation.css" />
</head>
<body>
    <section class="path">
        <a asp-controller="Home" asp-action="Index">home</a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg><a href="#">   Single Room</a>
    </section>

    <section>

        <div class="left">
            <div class="img-container">
                <div class="btnContainer"><button></button><button></button><button></button></div>
            </div>
        </div>
        <div class="right">
            <h2>Single Room</h2>
            <p>
                A Single Room is a cozy and compact accommodation option specifically designed for a solo traveler. It typically features a single bed or, in some cases, a twin bed, providing the perfect balance of functionality and comfort for one occupant. The room is thoughtfully laid out to maximize space, often including essential furnishings such as a small work desk, a wardrobe or closet, and a bedside table. The decor is usually minimalist, focusing on providing a serene and efficient environment for rest or work.

                Most single rooms come with an en-suite bathroom equipped with basic toiletries, a shower, or occasionally a small bathtub. Additional amenities such as complimentary Wi-Fi, a flat-screen television, and a coffee or tea-making station are often included. This room type is ideal for business professionals on short trips, solo tourists, or budget-conscious travelers who prioritize value and efficiency over luxury.
            </p>
        </div>
        <script src="/JavaScript/home.js"></script>
</body>
</html>