@{
    ViewData["Title"] = "Welcome to Our Hotel";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariotte</title>
    <link rel="stylesheet" href="/wwwroot/css/Visualisation.css" />
</head>
<body>
    <section class="path">
        <a asp-controller="Home" asp-action="Index">home</a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg><a href="#">  Double Room</a>
    </section>

    <section>

        <div class="left">
            <div class="img-container1">
                <div class="btnContainer"><button></button><button></button><button></button></div>
            </div>
        </div>
        <div class="right">
            <h2>Double Room</h2>
            <p>
                A Double Room is designed to comfortably accommodate two guests and is one of the most popular room types in hotels. It typically comes with one large bed, such as a queen or king size, or two separate twin beds, depending on the preference of the guests. The room is more spacious than a single room and is often adorned with stylish furnishings that include a bedside table, a reading lamp, a wardrobe or closet, and a seating area with chairs or a small sofa.

                Double rooms often feature large windows that let in ample natural light, with some offering scenic views of the city, garden, or ocean. The en-suite bathroom is typically more spacious, including upgraded fixtures like a walk-in shower or a bathtub. Modern conveniences such as free high-speed Wi-Fi, a flat-screen television with satellite channels, and a minibar are standard. This room type caters to couples, friends traveling together, or even single travelers looking for more space and comfort.
            </p>
        </div>
        <script src="/JavaScript/home.js"></script>
</body>
</html>